body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #c6cace81;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header search icon */
header .search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

/* button style  */
.btn{
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
  transform: scale(1.05);
}

/* Movie Card Style  */
.container-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.container-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.container-card .image-container {
  position: relative;
  overflow: hidden;
}

.container-card .image-container img {
  height: 350px;
  width: 100%;
}

.container-card .card-body {
  padding: 15px;
  display: flex;
  flex-direction: column; 
  flex-grow: 1; 
  border: 0;
  background-color: #ffffff;
}

.container-card .card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* End  */

/* Movie Details Style  */

#movieDetails {
  display: none;
  margin-top: 20px;
}

.movie-card-div {
  padding: 0;
  margin: 15px 0;
}

.img-section {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-card-div .col-md-4 {
  padding: 0;
}

.details
{
  background-color: #ffffff;
}

.details .card-body{
  padding: 12px 0px 12px 0px;
}

.details .card-title{
  font-size: 1.5rem;
}

.fa-star, .fa-trophy {
  color: #ffc107; 
  font-size: 1.2rem; 
}

.badge {
  cursor: pointer;
}

.details strong {
  font-weight: 600;
}
#search-list h2{
  border: 0;
}

.rounded-card {
  border-radius: 8px;
  overflow: hidden;
  border: 0; 
}